body {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

/*concurrentie analyse*/
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: rgb(92, 92, 92);
}
